/**
 * 	ABRCPM CSS
 * 
 * @author: Chris Bartos <bartos.25@osu.edu>
 */

body {
	padding: 40px;
}

table {
	font-size: 13px;
}

.comment-header {
	margin-left: 30px;
}

.comment-full {
	border-bottom: 1px solid #E6E8FA;
	padding-top: 10px;
}

.comment-full:hover {
	background-color: #E6E8FA;
}

.comment {
	margin: 10px 0 10px 10px;
}

/* Override the default collapsed state */
.nav-collapse.collapse {
	height: auto;
  	overflow: visible;
}

div#schedule .collapse {
	overflow: hidden !important;
}

.confirm {
	margin: 20px;
	width: 60px;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	background-color: green;
	padding: 20px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }
